/* 
  primary-font: #556789;
  secondary-font: #2B416C;
  primary-background: #1F2640;
  secondary-background: #F1F1F4;  
 */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

body {
  box-sizing: border-box; 
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #556789;
}

@media  screen and (max-width: 767px) {
  html {
    font-size: 42.5%; 
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 62.5%; 
  }
}

/* @media (min-width: 320px) {
  html {
    font-size: 42.5%; 
  }
}

@media (min-width: 600px) {
  html {
    font-size: 62.5%; 
  }
} */